openapi: 3.1.0
info:
  title: RunInfra Audio Models API
  description: OpenAI-compatible HTTP API for verified RunInfra inference deployments.
  version: '2026-04-24'
  contact:
    name: RunInfra support
    email: jaber@runinfra.ai
    url: https://runinfra.ai/contact
servers:
- url: https://api.runinfra.ai/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Models
paths:
  /models:
    get:
      operationId: listModels
      summary: List models
      description: List verified deployed models in your workspace.
      tags:
      - Models
      responses:
        '200':
          description: Model list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /models/{model}:
    get:
      operationId: retrieveModel
      summary: Retrieve model
      description: Retrieve one verified deployed model by ID.
      tags:
      - Models
      parameters:
      - name: model
        in: path
        required: true
        schema:
          type: string
        description: Model ID returned by GET /v1/models.
      responses:
        '200':
          description: Model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    ModelList:
      type: object
      required:
      - object
      - data
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Model'
    Error:
      type: object
      properties:
        error:
          type: object
          required:
          - message
          - type
          properties:
            message:
              type: string
            type:
              type: string
            param:
              type: string
              nullable: true
            code:
              type: string
              nullable: true
    Model:
      type: object
      required:
      - id
      - object
      properties:
        id:
          type: string
        object:
          type: string
          example: model
        created:
          type: integer
        owned_by:
          type: string
  responses:
    NotFound:
      description: Model or deployment not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: RunInfra API key. Generate at https://runinfra.ai/settings/api-keys
